<swiper-container #swiper class="swiper" pagination="true" autoplay="true">
  @if (isLoading()) {
    <swiper-slide>
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </swiper-slide>
  }

  @for (app of apps(); track app.id; let i = $index) {
  <swiper-slide>
    <div
      class="d-flex flex-column flex-md-row align-items-center justify-content-center w-100 app-card border p-5 c-pointer"
      [ngStyle]="{
        'background-color': app.primaryColor,
        'background-image': backgroundImage(app.primaryColor),
        color: app.foregroundColor
      }"
      (click)="viewApp(app)"
    >
      <img
        [src]="
          'https://flatpak.elementary.io/repo/appstream/x86_64/icons/128x128/' +
          app.id + '.png'
        "
        alt="Icon"
        class="me-md-4"
      />
      <div class="d-flex flex-column text-center text-md-start mt-2 mt-md-0">
        <h2>{{ app.name | translateValue }}</h2>
        <p>{{ app.summary | translateValue }}</p>
      </div>
    </div>
  </swiper-slide>
  }
</swiper-container>
